/* src/styles.css */
@import "tailwindcss";

@theme {
    /* Couleurs */
    --color-surface-variant: #e1e3e4;
    --color-primary-fixed-dim: #87d0f2;
    --color-on-secondary-fixed: #081e27;
    --color-on-error: #ffffff;
    --color-on-secondary-container: #536772;
    --color-on-primary-fixed: #001f2a;
    --color-on-primary-container: #a2e1ff;
    --color-on-primary-fixed-variant: #004d64;
    --color-error: #ba1a1a;
    --color-on-primary: #ffffff;
    --color-on-tertiary-fixed: #002020;
    --color-tertiary-fixed: #a0f0f0;
    --color-surface: #f8fafb;
    --color-on-tertiary: #ffffff;
    --color-surface-container-lowest: #ffffff;
    --color-surface-container-high: #e6e8e9;
    --color-secondary: #4d616c;
    --color-on-surface-variant: #3f484d;
    --color-inverse-on-surface: #eff1f2;
    --color-tertiary-container: #006969;
    --color-surface-tint: #016684;
    --color-on-error-container: #93000a;
    --color-error-container: #ffdad6;
    --color-primary: #004d64;
    --color-secondary-fixed-dim: #b4cad6;
    --color-on-background: #191c1d;
    --color-surface-container-low: #f2f4f5;
    --color-on-surface: #191c1d;
    --color-inverse-primary: #87d0f2;
    --color-tertiary-fixed-dim: #84d4d3;
    --color-primary-fixed: #bee9ff;
    --color-surface-container: #eceeef;
    --color-on-tertiary-container: #95e5e5;
    --color-on-secondary: #ffffff;
    --color-inverse-surface: #2e3132;
    --color-outline-variant: #bfc8cd;
    --color-surface-bright: #f8fafb;
    --color-secondary-fixed: #d0e6f3;
    --color-on-tertiary-fixed-variant: #004f4f;
    --color-tertiary: #004f4f;
    --color-surface-dim: #d8dadb;
    --color-primary-container: #006684;
    --color-surface-container-highest: #e1e3e4;
    --color-background: #f8fafb;
    --color-secondary-container: #d0e6f3;
    --color-on-secondary-fixed-variant: #364954;
    --color-outline: #70787e;

    /* Polices de caractères */
    --font-headline: "Manrope", sans-serif;
    --font-body: "Inter", sans-serif;
    --font-label: "Inter", sans-serif;

    /* Rayons (Border Radius) */
    --radius-default: 0.125rem;
    --radius-lg: 0.25rem;
    --radius-xl: 0.5rem;
    --radius-full: 0.75rem;
}

/* Styles spécifiques additionnels (ceux qui étaient dans votre <style>) */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
}

.btn-gradient {
    background: linear-gradient(135deg, #004d64 0%, #006684 100%);
}

.glass-panel {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
}